
.icon-mail:before { content: '\e800'; } /* '' */
.icon-linkedin-circled:before { content: '\e801'; } /* '' */
.icon-dribbble:before { content: '\e802'; } /* '' */
.icon-linkedin-squared:before { content: '\e803'; } /* '' */
.icon-down-open-big:before { content: '\e804'; } /* '' */
.icon-appstore:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */